#sprint {

    .user-summary {
        .single-user-active {
            background: #11806026;
            box-shadow: inset 0 0 10px 0px white;
        }
    }

    table {

        thead {
            .add-task, .add-subtask  {
                margin-left: 15px;
                opacity: 0;
                font-size: 15px;
                transition: transform .4s, opacity .4s, font-size .4s;
                transform: translate(200px);
            }
        }

        thead:hover {
            .add-task, .add-subtask  {
                opacity: 1;
                transform: translate(0px);
            }
        }

        // 1st Sprint List in table
        tbody {
            tr {
                .sprint-action {
                    opacity: 0;
                    font-size: 15px;
                    transition: transform .4s, opacity .4s, font-size .4s;
                    transform: translate(150px);
                }
            }

            tr:hover {  
                .sprint-action {
                    opacity: 1;
                    transform: translate(0px);
                }
            }
        }
    }


    // 2nd Task name in Sprint Section
    table .sprint-task {
        tbody {
            tr {
                .remove-task-from-sprint {
                    opacity: 0;
                    font-size: 15px;
                    transition: transform .4s, opacity .4s, font-size .4s;
                    transform: translate(20px);
                }
            }
            tr:hover {
                .remove-task-from-sprint {
                    opacity: 1;
                    transform: translate(0px);
                }
            }
        }
    }
}